@charset "UTF-8";
/* CSS Document */

.test-resource { background-image: url(/resources/layout/images/delfin.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-1 { background-image: url(/resources/layout/images/delfin1.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-2 { background-image: url(/resources/layout/images/delfin2.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-3 { background-image: url(/resources/layout/images/delfin3.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-4 { background-image: url(/resources/layout/images/delfin4.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-5 { background-image: url(/resources/layout/images/delfin5.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-6 { background-image: url(/resources/layout/images/delfin6.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-7 { background-image: url(/resources/layout/images/delfin7.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-8 { background-image: url(/resources/layout/images/delfin8.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-9 { background-image: url(/resources/layout/images/delfin9.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-10 { background-image: url(/resources/layout/images/delfin10.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-11 { background-image: url(/resources/layout/images/delfin11.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-12 { background-image: url(/resources/layout/images/delfin12.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-13 { background-image: url(/resources/layout/images/delfin13.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-14 { background-image: url(/resources/layout/images/delfin14.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-15 { background-image: url(/resources/layout/images/delfin15.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-16 { background-image: url(/resources/layout/images/delfin16.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-16 { background-image: url(/resources/layout/images/delfin17.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-18 { background-image: url(/resources/layout/images/delfin18.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-19 { background-image: url(/resources/layout/images/delfin19.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-20 { background-image: url(/resources/layout/images/delfin20.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-21 { background-image: url(/resources/layout/images/delfin21.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-22 { background-image: url(/resources/layout/images/delfin22.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-23 { background-image: url(/resources/layout/images/delfin23.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-24 { background-image: url(/resources/layout/images/delfin24.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-25 { background-image: url(/resources/layout/images/delfin25.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-26 { background-image: url(/resources/layout/images/delfin26.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-27 { background-image: url(/resources/layout/images/delfin27.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-28 { background-image: url(/resources/layout/images/delfin28.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-29 { background-image: url(/resources/layout/images/delfin29.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-30 { background-image: url(/resources/layout/images/delfin30.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-31 { background-image: url(/resources/layout/images/delfin31.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-32 { background-image: url(/resources/layout/images/delfin32.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-33 { background-image: url(/resources/layout/images/delfin33.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-34 { background-image: url(/resources/layout/images/delfin34.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-35 { background-image: url(/resources/layout/images/delfin35.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-36 { background-image: url(/resources/layout/images/delfin36.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-37 { background-image: url(/resources/layout/images/delfin37.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-38 { background-image: url(/resources/layout/images/delfin38.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-39 { background-image: url(/resources/layout/images/delfin39.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-40 { background-image: url(/resources/layout/images/delfin40.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-41 { background-image: url(/resources/layout/images/delfin41.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-42 { background-image: url(/resources/layout/images/delfin42.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-43 { background-image: url(/resources/layout/images/delfin43.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-44 { background-image: url(/resources/layout/images/delfin44.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-45 { background-image: url(/resources/layout/images/delfin45.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-46 { background-image: url(/resources/layout/images/delfin46.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-47 { background-image: url(/resources/layout/images/delfin47.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-48 { background-image: url(/resources/layout/images/delfin48.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-49 { background-image: url(/resources/layout/images/delfin49.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-50 { background-image: url(/resources/layout/images/delfin50.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-51 { background-image: url(/resources/layout/images/delfin51.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-52 { background-image: url(/resources/layout/images/delfin52.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-53 { background-image: url(/resources/layout/images/delfin53.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-54 { background-image: url(/resources/layout/images/delfin54.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-55 { background-image: url(/resources/layout/images/delfin55.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-56 { background-image: url(/resources/layout/images/delfin56.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-57 { background-image: url(/resources/layout/images/delfin57.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-58 { background-image: url(/resources/layout/images/delfin58.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-59 { background-image: url(/resources/layout/images/delfin59.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-60 { background-image: url(/resources/layout/images/delfin60.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-61 { background-image: url(/resources/layout/images/delfin61.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-62 { background-image: url(/resources/layout/images/delfin62.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-63 { background-image: url(/resources/layout/images/delfin63.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-64 { background-image: url(/resources/layout/images/delfin64.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-65 { background-image: url(/resources/layout/images/delfin65.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-66 { background-image: url(/resources/layout/images/delfin66.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-67 { background-image: url(/resources/layout/images/delfin67.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-68 { background-image: url(/resources/layout/images/delfin68.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-69 { background-image: url(/resources/layout/images/delfin69.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-70 { background-image: url(/resources/layout/images/delfin70.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-71 { background-image: url(/resources/layout/images/delfin71.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-72 { background-image: url(/resources/layout/images/delfin72.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-73 { background-image: url(/resources/layout/images/delfin73.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-74 { background-image: url(/resources/layout/images/delfin74.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-75 { background-image: url(/resources/layout/images/delfin75.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-76 { background-image: url(/resources/layout/images/delfin76.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-77 { background-image: url(/resources/layout/images/delfin77.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-78 { background-image: url(/resources/layout/images/delfin78.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-79 { background-image: url(/resources/layout/images/delfin79.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-80 { background-image: url(/resources/layout/images/delfin80.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-81 { background-image: url(/resources/layout/images/delfin81.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-82 { background-image: url(/resources/layout/images/delfin82.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-83 { background-image: url(/resources/layout/images/delfin83.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-84 { background-image: url(/resources/layout/images/delfin84.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-85 { background-image: url(/resources/layout/images/delfin85.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-86 { background-image: url(/resources/layout/images/delfin86.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-87 { background-image: url(/resources/layout/images/delfin87.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-88 { background-image: url(/resources/layout/images/delfin88.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-89 { background-image: url(/resources/layout/images/delfin89.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-90 { background-image: url(/resources/layout/images/delfin90.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-91 { background-image: url(/resources/layout/images/delfin91.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-92 { background-image: url(/resources/layout/images/delfin92.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-93 { background-image: url(/resources/layout/images/delfin93.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-94 { background-image: url(/resources/layout/images/delfin94.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-95 { background-image: url(/resources/layout/images/delfin95.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-96 { background-image: url(/resources/layout/images/delfin96.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-97 { background-image: url(/resources/layout/images/delfin97.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-98 { background-image: url(/resources/layout/images/delfin98.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
.test-resource-99 { background-image: url(/resources/layout/images/delfin99.jpg); background-size: 235px 156px; width: 235px; height: 156px; }
